.homepageContainer{
  height: 100vh;
  display: flex;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  
  .headerContainer{
    flex: 1;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 1.5vh;
    .mainHeader{
      font-family: 'Alex Brush', sans-serif;

      h1{
        font-size: 3.2em;
        font-weight: bolder;
      }

      h2{
        font-size: 2.6em;
        font-weight: bold;
      }
    }

    .headerInformation{
      font-family: 'Alex Brush', sans-serif;
      font-weight: bold;
      margin-bottom: 0;
      font-size: 2em;
    }

    .detailsInformation{
      font-family: cursive;
      font-size:"1.2rem";
    }

    .wishSliderContainer{
      height: 10em;
      margin: 0 auto;
      
      .sliderStyle{
        position: relative;
        height: 10em;
        overflow: hidden;
        margin-top: 0.5em;
      }

      .sliderTextHeader{
        text-transform: capitalize;
        font-family: cursive;
        font-size: 1.5em;
      }
    }
  }
}

.prayerContainer{
  background-color: cornflowerblue;
  padding: 4em;
  font-size: 1.5vh;
  font-weight: 500;
  text-align: center;
  color: white;
}

@media screen and (min-width: 1025px){
  /* Laptop */
  .pageWrapper{
    width: 50vw;
    box-shadow: 0 0 2em #a8a8a8;
  }
}

@media screen and (max-width: 1024px){
  /* not laptop */
  .pageWrapper{
    width: 100%;
    box-shadow: 0 0 2em #a8a8a8;
  }
}