@import url('https://fonts.googleapis.com/css?family=Lato');

.countdownContainer{
	padding: 2em;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.countdownWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.countdownItem {
	color: #111;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    line-height: 30px;
	padding-top: 10px;
	margin-right: 10px;
	position: relative;
	width: 100px;
	height: 100px;
	
	span{
		color: #333;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

.countdownSvg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

@media screen and (min-width: 1025px){
	/* Laptop */
	.pageWrapper{
		width: 50vw;
		box-shadow: 0 0 2em #a8a8a8;
	}
}

@media screen and (max-width: 1024px){
	/* not laptop */
	.pageWrapper{
		width: 100%;
		box-shadow: 0 0 2em #a8a8a8;
	}
}

@media screen and (max-width: 464px){
	.countdownItemResponsive{
		margin: 20px;
	}
}

@media screen and (max-width: 394px){
	.countdownItemResponsive{
		margin: 5px;
	}
}
